{{if .Params.authors }}
<div class='author meta ml-1'>
  {{range .Params.authors}}
    <i class='fa fa-user'></i>
    <a href='{{$.Site.BaseURL}}/authors/{{ . | urlize | lower }}'>
      {{.}}
    </a>
  {{end}}
</div>
{{end }}

<div class="meta">
  <span class="date">
    <i class='fa fa-calendar'></i>
    {{ .PublishDate.Format "January 2, 2006" }}
  </span>
  <span class='reading_time'>
      <i class='fa fa-clock'></i>
    {{ .ReadingTime }} minutes
  </span>
  {{ if .Params.categories }}
    <span class="category-block">
      <i class='fa fa-folder'></i>
      {{ range $i, $category := .Params.categories }}
        {{if $i}},{{end}}
        <a href="{{$.Site.BaseURL}}categories/{{. | urlize }}">
          {{ $category }}
        </a>
      {{ end }}
    </span>
  {{ end}}

</div>
